[Unit]
Description=Line Bot Service
After=network.target

[Service]
Type=simple
User=synex
WorkingDirectory=/home/user/latest/linebot_test
ExecStart=/usr/bin/python3 /home/user/latest/linebot_test/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
